@import '../../variables.css';

.button {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: 0;
  color: white;
  font-weight: normal;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: calc(var(--spacing-small) + var(--spacing-xxsmall));
  background: var(--blue);
  border-radius: var(--spacing-xsmall);
  margin: var(--spacing-small);

  &:hover {
    background: color(var(--blue) blackness(5%));
  }

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}

.stretch {
  width: calc(100% - var(--spacing-base));
}
