@import './variables.css';

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--dark-grey5);
  font-size: var(--font-size-base);
}

body a {
  text-decoration: none;
  color: color(var(--blue) blackness(0%));
  transition: var(--transition);
  border-bottom: 2px solid color(var(--blue) alpha(0%));
  &:hover {
    color: color(var(--blue) blackness(10%));
    transition: var(--transition);
    border-bottom: 2px solid color(var(--blue) whiteness(20%) alpha(-75%));
  }
}

.app {
  margin: auto;
  padding: var(--spacing-xxlarge) var(--spacing-base);
  max-width: 900px;
  font-size: 24px;
  color: color(var(--blue) blackness(10%));
  font-weight: 600;
}

pre,
code {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
  text-align: left;
}
