body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background: #eee;
  font-family: 'Roboto Mono';
}

.map {
  border-left: 3px solid white;
  position: absolute;
  left: 25%;
  width: 75%;
  top: 0;
  bottom: 0;
}

.sidebar {
  width: 25%;
  overflow: scroll;
  height: 100vh;
}

.listing {
  margin: 8px 0;
  padding: 18px;
  color: #404040;
  background: rgba(255, 255, 255, 0.75);
}

.listing:hover {
  cursor: pointer;
  color: black;
  background: rgba(255, 255, 255, 1);
  transition: all 0.2s linear;
}
